{
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "jest": true
  },
  "extends": [
    "plugin:react/recommended",
    "airbnb"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "plugins": [
    "react",
    "@typescript-eslint"
  ],
  "rules": {
    "no-unused-vars":["warn"],
    "consistent-return":["warn"],
    "react/require-default-props":["off"],
    "react/jsx-filename-extension":["error", { "extensions": [".js", ".jsx",".ts",".tsx"] }],
    "react/no-array-index-key":["off"],
    "import/no-unresolved": "off",
    "import/extensions": "off",
    "import/no-extraneous-dependencies": "off",
    "import/prefer-default-export": "off",
    "no-use-before-define": "off",
    "no-shadow": "off",
    "semi":["warn","never"],
    "comma-dangle": ["warn", "never"],
    "react/jsx-props-no-spreading": ["off"],
    "no-unused-expressions": ["off"],
    "lines-between-class-members":["off"],
    "max-len": ["warn", {
      "code": 180,
      "ignoreComments": true,
      "ignoreUrls": true
    }],
    "jsx-a11y/label-has-associated-control": [ "error", {
      "required": { "some": [ "nesting", "id"  ] }
    }],
    "jsx-a11y/label-has-for": [ "error", {
      "required": { "some": [ "nesting", "id"  ] }
    }],
    "object-curly-newline": ["error", {
      "ImportDeclaration": "never"
    }]
  }
}
